<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <form class="d-flex" method="GET">
            <button class="btn btn-outline-warning" type="submit" formaction="/login">Login</button>
            <button class="btn btn-outline-success" type="submit" formaction="/signup">Sign Up</button>
          </form>
        </div>
    </nav>
    <br><br><br><br>
    <h1 style='text-align: center;'>HOME PAGE</h1>
</body>
</html>